{
  "name": "eho-find-space test-1565984657",
  "appId": "eho-find-space-0.1.1",
  "archive": true,
  "archiveSystem": "data-tacc-work-eho",
  "archivePath": "archive/jobs/${JOB_NAME}-${JOB_ID}",
  "inputs": {
  },
  "parameters": {
  }
}
