{
  "name": "{{ agave.username }}-{{ app.name }}",
  "version": "{{ app.version }}",
  "executionType": "HPC",
  "executionSystem": "hpc-tacc-wrangler-{{ agave.username }}",
  "parallelism": "SERIAL",
  "deploymentPath": "apps/{{ app.bundle }}",
  "deploymentSystem": "data-tacc-work-{{ agave.username }}",
  "defaultProcessorsPerNode": 1,
  "defaultNodeCount": 1,
  "defaultQueue": "normal",
  "label": "{{ date_time.iso8601_micro }}",
  "modules": ["load tacc-singularity"],
  "shortDescription": "{{ app.description }}",
  "templatePath": "runner-template.sh",
  "testPath": "tester.sh",
  "inputs": [
    {
      "id": "pdb_screen_list",
      "value": {
          "validator": "",
          "visible": true,
          "required": true,
          "order": 0,
          "enquote": false,
          "default": "agave://data-tacc-work-eho/apps/find-space-0.1.2/test/testinput.txt"
      },
      "details": {
          "label": "PDB screen list",
          "description": "Text file containing list of PDB files to screen",
          "argument": null,
          "showArgument": false,
          "repeatArgument": false
      },
      "semantics": {
          "minCardinality": 1,
          "maxCardinality": 1,
          "ontology": [
              "xsd:string"
          ],
          "fileTypes": [
              "raw-0"
          ]
      }
    }
  ],
  "parameters": [{
    "id": "CONTAINER_IMAGE",
    "value": {
      "default": "{{ docker.organization }}/{{ docker.repo }}:{{ docker.tag }}",
      "description": "Container Image. Do not edit.",
      "type": "string",
      "visible": false,
      "required": true
    }
  }],
  "outputs": []
}
